.filters {
  display: flex;
  gap: var(--space-4);
  max-width: 640px;
}

.filters > * {
  flex: 1;
}

.sortButton {
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  font-weight: inherit;
  background: transparent;
  cursor: pointer;
}

.sortButton:hover {
  color: var(--color-primary);
}
